body {
    background-image: url('images/map2.jpg');
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    color: white;
    font-family: courier, serif;
}
                 
                 h1 {
  background-color: black;
  color: white;
}
                 
                            p {
  background-color: black;
  color: white;
}
         

html, body {margin: 0; height: 100%; overflow: hidden}