body {
    background-color: black;
    color: white;
    font-family: courier, serif;
}

#main {
  width: 100%;
  text-align: center;
}

h1 {
  background-color: black;
  color: white;
}

a {
  color: white;
}
             
header {
  text-align: center;
  margin-bottom: 50px;
}

#main-title {
  font-size: 1rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  font-size: 0.8rem;
  margin: 1rem;
}

.image-link {
  display: inline-block;
  margin-bottom: 3rem;
}

.image-link .image-tooltip {
  display: inline-block;
  visibility: hidden;
  width: 8rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 0.8rem;

  /* Position the tooltip */
  margin: auto;
  margin-top: -80px;
}

.image-link img {
  max-width: 100%;
  max-height: 100%;
}

.image-link:hover .image-tooltip,
.image-link.touching .image-tooltip {
  visibility: visible;
}

.png {
  cursor: url("curse.png"), auto;
}

@media only screen and (min-width: 500px) {

  #main-title {
    font-size: 1.5rem;
  }

  .image-link {
    width: 45%
  }
}

@media only screen and (min-width: 800px) {

  #main-title {
    font-size: 2rem;
  }

  nav ul li {
    display: inline;
    font-size: 1rem;
  }

  .image-link {
    width: 15rem;
    height: 15rem;
    margin-bottom: 0rem;
  }
}
